<h1>Information about product: <%= @product.title %></h1>

<li>
	<strong> Title: </strong><%= @product.title %>
	<strong> Description: </strong><%= @product.description %>
	<strong> Deadline: </strong><%= @product.deadline %>
</li>

